@font-face {
    font-family: 'Muller';
    src: url('MullerRegular.eot');
    src: local('Muller Regular'), local('MullerRegular'),
        url('MullerRegular-1.eot') format('embedded-opentype'),
        url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff'),
        url('MullerRegular.bin') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('MullerRegularItalic.eot');
    src: local('Muller Regular Italic'), local('MullerRegularItalic'),
        url('MullerRegularItalic-1.eot') format('embedded-opentype'),
        url('MullerRegularItalic.woff2') format('woff2'),
        url('MullerRegularItalic.woff') format('woff'),
        url('MullerRegularItalic.bin') format('truetype');
    font-weight: normal;
    font-style: italic;
}

